body {
    overflow : hidden;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
}

canvas{
    position: absolute;
    z-index: -1;
}

.Test{
    visibility: hidden;
    width: 10vw;
    height: 10vh;
    background-color: black;
}

header{
    display: flex;
    align-items: space-between;
}